.container { 
width: 800px;
margin:0 auto;
box-shadow: 5px 0 5px -5px #333 ,-5px 0 5px -5px #333;
padding:50px;
}

p,li{
    color: #707070;
}

header{
    text-align: center;
}

h1{
    color: #DB0038;
}

h2{
    color:#3998A3;

}

h3{
    color:#474747;
}

.hero{
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
}


li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.rating {
    color: #F4B400;
    size: 25px;
    
}

footer {
    text-align: center;
    align-content: center;
}

body {
font-family: 'Happy Monkey';
}