div {
  border: 1px solid black;
}

span {
  border: 1px solid black;
}

img {
  width: 50px;
}
#face {
  width: 400px;
  position: relative;
  z-index: 1;
  
}
#hair1
{
width:400px;
  position:relative;
  z-index: 2;
}
#eyes1{
width: 200px;
  position: relative;
  z-index: 2;
}

 #eyes2{ 
  width: 300px;
  position: relative;
  z-index: 2;
}

  #mouth1{
  width: 180px;
  position: relative;
  z-index: 2;

}
  #mouth2 {
  width: 170px;
  position: relative;
  z-index: 2;
}
    
  #nose1 
{
  width: 300px;
  position: relative;
  z-index: 2;
}
    
  #nose2{
  width: 200px;
  position: relative;
  z-index: 2;
}
    
  #ears1{
  width: 120px;
  position: relative;
  z-index: 2;

}
  
  #ears2 {
  width:120px;
  position: relative;
  z-index: 2;
}
    
  #hair1{
  width: 400px;
  position: relative;
  z-index: 2;
}
    
  #hair2{
  width: 400px;
  position: relative;
  z-index: 2;
}
   
  #hat{
  width: 400px;
  position: relative;
  z-index: 2;
}

  .coordinates{
  position: relative;
  z-index: 2;
}